$primary = #1baeae
$orange = #ff6b01
$bc = #f7f7f7
$fc = #fff

// 定位全屏
.allcover
    position absolute
    top 0
    bottom 0
    right 0
    left 0


//字体的大小颜色
sc($size, $color)
    font-size $size
    color $color

ellipsis()
    overflow hidden
    white-space: nowrap
    text-overflow: ellipsis
